        body {
            min-height: 100vh;
            display: flex;
            background-color: #f8f9fa;
        }
        aside {
            min-width: 250px;
            background-color: #212529;
            color: white;
            padding: 20px;
        }
        aside img {
            display: block;
            margin: 0 auto 10px;
        }
        aside span {
            display: block;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 20px;
            font-weight: bold;
        }
        aside ul {
            list-style: none;
            padding-left: 0;
        }
        aside li {
            margin-bottom: 10px;
        }
        aside a {
            color: white;
            text-decoration: none;
        }
        aside a:hover {
            text-decoration: underline;
        }
        main {
            flex-grow: 1;
            padding: 30px;
        }